body{
    background-color: #f7f7f7;;
}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
#images{
    display: flex;
    margin-left: 65px;
}
#text{
    font-size: 25px;
    margin-left: 8px;
    margin-top: 25px;
    color: #111111;
}
#list-item, a {
    display: flex;
    text-decoration: none;
    margin-top: 25px;
    list-style-type: none;
    text-align: center;
    gap: 10%;
}
.btn-primary{
    margin-top: 25px;
    color: #ffff;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #FEA301;
    width: 200px;
}
.list-1{
    color: #FDA501;
    font-weight: bold;
}
.list-2{
    color: #4Dc4FB;
}
.list-3{
    color: #23d8e2;
    
}
.list-4{
    color: #5d58ef;
}
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.bannerInner{
    margin-top: 50px;
    width: 600px;
    
}
.text {
    color: #676767;
    
}
.textH1{
    font-size: 30px;
}
.btn-primary2{
    color: #f7f7f7;
    border: none;
    border-radius: 10px;
    background-color: #111111;
    width: 155px;
    height: 30px;
}