body{
    background-color: #f7f7f7;;
}
/*navbar section*/
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
}
#images{
    display: flex;
    margin-left: 65px;
}
#text{
    font-size: 25px;
    margin-left: 8px;
    margin-top: 25px;
    color: #111111;
}
#list-item, a {
    display: flex;
    text-decoration: none;
    margin-top: 25px;
    list-style-type: none;
    text-align: center;
    gap: 10%;
}
.btn-primary{
    margin-top: 25px;
    color: #ffff;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: #FEA301;
    width: 200px;
}
.list-1{
    color: #FDA501;
    border: none;
}
.list-2{
    color: #4Dc4FB;
    border: none;
}
.list-3{
    color: #23d8e2;
   
    
}
.list-4{
    color: #5d58ef;
    border: none;
}
/*banner images section*/
.banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
}
.bannerInner{
    margin-top: 40px;
    text-align: center;
    width: 600px;
    
}
.text {
    color: #676767;
    
}
.textH1{
    font-size: 30px;
}
.btn-primary2{
    color: #f7f7f7;
    border: none;
    border-radius: 10px;
    background-color: #111111;
    width: 155px;
    height: 30px;
}
/*standard curriculam section*/

.bg-banner{
    background-image: url(/assets/bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 950px;
    padding: 30px;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    color: #000000;
    margin-bottom: 10%;
    font-size: 2.5rem;
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.card-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    gap:20px
  
}
.card-1, .card-2, .card-3{
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    width: 550px;  
    height: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.card-1 img, .card-2 img, .card-3 img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}
h3{
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}
.cardPara{
    font-size: 1rem;
    color: #8c8c8c;
    margin-bottom: 15px;
    line-height: 1.5;

}
/*stories section*/
.innerStories{
    background-image: url(/assets/bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 950px;
    padding: 30px;
    box-sizing: border-box;
    margin-top: 10%;
}

.innerImage{
    display: flex;
    flex-direction: column;
}
.images{
background: #ffffff;
border: 1px solid #f7f7f7;
border-radius: 15px;
width: 640px;
height: 650px;
margin: 50px;
}
.images img{
    width: 100%;
    border-radius: 10px;
}
.btn-primary-card{
    background-color: #3cd8e8;
    margin-left: 50px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 15px;
    border: none;
}
.heading-content{
     font-size: 25px;
     font-weight: bolder;
     margin-left: 50px;

}
.text1{
    color: #676767;
    margin-left: 50px;
}